<!DOCTYPE html>
<html>

<head>
	<title>AMC 10 Answer Checker</title>

	<script src="{{ url_for('static', filename='app.js') }}"></script>
	<link rel="stylesheet" href="static/style.css">
</head>

<body>
	<!-- <form id="answers" action="answers" onsubmit="submit(this)"> -->
	<form id="answers" onsubmit="submit()">
		<ol id="answer-list">
			<label for="1">1). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">2). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">3). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">4). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">5). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">6). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">7). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">8). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">9). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">10). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">11). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">12). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">13). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">14). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">15). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">16). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">17). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">18). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">19). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">20). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">21). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">22). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">23). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">24). </label>
			<input class="answer-box" type="text"><br>

			<label for="1">25). </label>
			<input class="answer-box" type="text"><br>
		</ol>

		<input id="check" type="submit" value="Check">
	</form>
</body>

</html>